# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.local

# Coverage
coverage/

# React
quiz-app/node_modules/
quiz-app/build/
quiz-app/.env
quiz-app/.env.*
quiz-app/coverage/
